html {
  scroll-behavior: smooth;
    cursor: crosshair;
}

main{

}
#active{
  color: black;
}
p{
  font-family: counterpart;
  float: left;
font-size: 5em;
line-height: 1.25em;
text-align: justify!important;
letter-spacing: .1em;
}

.pangram{
font-size: 2em;
text-transform: uppercase;
margin-top: 2em;
text-align: left!important;
transition: all 1s ease;
}

.pangram span{
transition: all 1s ease;
}

.pangram span:hover{
  text-transform: lowercase;
  transition: 1s ease;
}
.version{
  font-size: 1em;
  text-transform: uppercase;
  margin-top: 2em;
  color: grey;
  font-family: counterpart;
  letter-spacing: .15em;

}

.hover-effect-2:hover{
  text-transform: uppercase;
  font-size: 1.5em;
}
.hover-effect-2{
    text-transform: lowercase;
    transition: 1s ease;
}

h1{
  font-family: counterpart;
  text-transform: uppercase;
  letter-spacing: .15em;
  transition: 1s;
  font-size: 1.5em;

}

h2{
  font-family: counterpart;
  letter-spacing: .1em;
}

h3{
  font-family: counterpart;
}

.navbar-toggler{
  border: none !important;
  outline: none !important;
}

.navbar-nav{
  background-color: white !important;
}

.navbar{
  background-color: white !important;
  margin-top: 2em;
  margin-bottom: 2em;
}


.nav-list{
  list-style: none;
}

.nav-list a{
  color: grey;
}

.nav-list a:hover{
  color: black;
}
.nav-list li{
  font-family: counterpart;
  color: grey;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-size: 1em;
  text-align: left;
  padding-left: 0!important;
  margin-left: 0!important;

}

#triangle-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid red;
}

.view-height-full{
  min-height: 100vh;
}


@media (min-width: 567px){
  p{
    font-family: counterpart;
    float: left;
  font-size: 6.5em;
  line-height: 1.25em;
  text-align: justify!important;
  letter-spacing: .1em;
  }
}

@media (min-width: 992px){
  .nav-link{
    font-family: counterpart;
    color: grey;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-size: 1em;
    text-align: center;
  }
  main{
    height: 31em;
    overflow: hidden;
  }
  .navbar-nav{
    width: 50% !important;
    float: right !important;
  }

  .navbar-nav{
    float: right;
  }
  .nav-list li{
    float: left;
    width: 33%;
list-style-type: none!important;
text-align: center;

  }

  .nav-list a{
    color: grey;
    transition: all 1s ease;
    font-family: counterpart;
    letter-spacing: .15em;
    text-decoration: none;
  }

  .nav-list a:hover{
    color: black;

  }

  .navigation-custom-2{
    list-style-type: none!important;
  }
}

@media (min-width: 1200px){
  main{
    height: 25em;
    overflow: hidden;
  }
  .version{
    margin-top: 5.25em;
  }


}
